/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}
input {
  width: 51vw;
}
header, #section-search-input {
  display: flex;
  justify-content: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#label-q, #label-keywords {
  font-weight: bold;
}